body {
	margin: 0;
	background-color: #6d667a;
	@font-face {
		font-family: "Roboto-Light";
		src: url("fonts/Roboto-Light.ttf") format("truetype");
	}
}

.light {
    /* Light theme styles */
    background-color: white;
    color: black;
}

.dark {
    /* Dark theme styles */
    background-color: black;
    color: white;
}