    :root {
    --background-color: #d7d7eb;
    --text-color: #000;
    @font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf") format("truetype");



    }

    --navbar-background-color: #8080a0;
    --navbar-text-color: #000;
    --footer-background-color: #8080a0;
    --footer-text-color: #000;
    --font-size-normal: 16px;
    --font-size-large: 20px;

    h3{
        margin: 2.5rem;
        font-size: 30px;
        font-weight:lighter;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
        h1, h2{
        margin: 1rem;
        font-size: 40px;
        font-weight: bolder;
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    
    }

    [data-theme="dark"] {
    --background-color: #68607a;
    --text-color: #fff;
    --navbar-background-color: #373144; /* Dark mode color */
    --navbar-text-color: #fff;
    --footer-background-color: #373144;
    --footer-text-color: #fff;
    }

    body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family), sans-serif;
    }


