:root {
    --background-color: #d7d7eb;
    --text-color: #000;
    --navbar-background-color: #8080a0;
    --navbar-text-color: #fff;
    --footer-background-color: #8080a0;
    --footer-text-color: #fff;
    --font-size-normal: 16px;
    --font-size-large: 20px;
    --form-background-color: #a9a9d3;
    --form-text-color: #000;
    --button-background-color: #8484aa;
    --button-text-color: #ffffff;
    --card-item-background-color: #a9a9d3;

    @font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
}
}

[data-theme="dark"] {
    --background-color: #68607a;
    --text-color: #fff;
    --navbar-background-color: #473f57;
    --navbar-text-color: #fff;
    --footer-background-color: #473f57;
    --footer-text-color: #fff;
    --form-background-color: #473f57;
    --form-text-color: #fff;
    --button-background-color: #68607a;
    --button-text-color: #fff;
    --card-item-background-color: #473f57;
}



body {
    margin: 0;
    padding-bottom: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto-Light", sans-serif;
        text-align: center;

    
}

h1, h2 {
    margin: 1rem;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto-Light";
        text-align: center;
    text-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    margin: 2.5rem;
    font-size: 25px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
        text-align: center;
    align-items: center;
    font-family: "Roboto-Light";
    text-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-root {
    max-width: 350px;
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color: var(--card-item-background-color);
    color: var(--text-color);
    font-family: "Roboto-Light";
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden; /* Prevents content from spilling outside the border-radius */
}


.card-header {
    background-color: var(--card-item-background-color);
    color: var(--navbar-text-color);
    padding: 10px;
    border-bottom: 1px solid #d3d3d3; /* Subtle border for separation */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-avatar {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    width: 40px;
    height: 40px;
    font-size: var(--font-size-normal);
}

.card-media {
    height: 450px; /* Height already specified */
    object-fit: cover; /* Ensures image covers the area properly */
}

.card-content{
    background-color: var(--card-item-background-color);
    color: var(--text-color);
    padding: 15px;
    font-size: 20px;
    font-family: "Roboto-Light";
    line-height: 1.5; /* Better readability for text */
        flex: 1; /* This will make the content grow to fill the space, pushing the actions to the bottom */
    padding: 15px;
}

.user-details {color: var(--text-color);
    padding: 15px;
    font-size: 20px;
    font-family: "Roboto-Light";}


.card-actions {
    background-color: var(--card-item-background-color);
    color: var(--footer-text-color);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d3d3d3; /* Subtle border for separation */
        margin-top: auto; /* Pushes the actions to the bottom */
}

.share-panel {
    background-color: var(--form-background-color);
    color: var(--form-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-top: 1px solid #d3d3d3; /* Subtle border for separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    
}

.card-form, .card-edit-form {
    background-color: var(--form-background-color);
    color: var(--form-text-color);
    font-family: "Roboto-Light";
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.card-form input,
.card-form .MuiFormControl-root,
.card-edit-form input,
.card-edit-form .MuiFormControl-root {
    background-color: var(--form-background-color);
    font-family: "Roboto-Light";
    height: 40px;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #677086;
    align-items: center;
}

 .share-panel button{
    width: 150px;
    height: 30px;
    margin: 3.5px;
background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-family: "Roboto-Light";
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.card-form button, .card-edit-form button{
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-family: "Roboto-Light";
    height: 30px;
    margin: 0.5rem;
    grid-column: span 2;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card-form button:hover,
.card-edit-form button:hover, button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.card-item h3 {
    margin: 0 0 10px 0;
}
a {
    font-family: "Roboto-Light";
    font-style: none;
    color: var(--button-text-color);
}

.card-item {
    background-color: var(--card-item-background-color);
    color: var(--text-color);
    font-family: "Roboto-Light";
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tempTitle {
    text-align: center;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax for card width */
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: start; /* Aligns items to the start on the cross axis */
    justify-items: center; /* Centers items on the main axis */
    height: calc(100vh - 40px); /* Full height minus padding */
    margin: auto;
    max-width: 1200px; /* Maximum width of the grid */
}

/* Responsive design: Adjusting grid for different screen sizes */
@media (max-width: 1200px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 1fr;
        padding: 20px 0; /* Remove horizontal padding on smaller screens */
    }
}